@page
@model PrivacyModel
@{
    Layout = "_Layout1";
    ViewData["Title"] = "Privacy Policy";
    var a = 1;
}
<h1>@ViewData["Title"]</h1>
@{
    a = a + 1;
}
<p>Use this page to detail your site's privacy policy.</p>
<p>@a</p>
